:root {
    --colbg: rgb(29, 29, 29);
    --col1: rgb(255, 255, 255);
    --col2: rgb(0, 255, 0);
}

html {
    font-size: 100%;
}

body {
    font-family: monospace;
    background-color: var(--colbg);
    color: var(--col1);
    font-size: 1em;
    padding: 1em;
}
a {
    color: inherit;
}
a:hover {
    color: rgb(150, 150, 150);
}
hr {
    border: 1px solid;
    color: inherit;
    height: 0;
}
h1 {
    font-size: 3em;
}



.emph {
    color: var(--col2);
}
.flex {
    display: flex;
}




c-header {
    display: block;
    font-size: 1.1em;
    padding-bottom: 2em;
    width: fit-content;
}
c-header nav {
    margin-left: 0.5em;
}
c-header * {
    margin: 0;
    padding: 0;
}
c-header h1 {
    letter-spacing: 0;
    transition: letter-spacing 0.5s;
}
c-header h1:hover {
    letter-spacing: 0.5em;
    transition: letter-spacing 1s;
}
c-header li {
    display: inline;
}
c-header li + li::before {
    content: "| ";
}
c-header a:hover {
    text-decoration-line: underline;
}
c-header a.active {
    color: var(--col2)
}
