body {
    font-family: monospace;
    background-color: black;
    color: white;
    height: 3000px;
}


c-header ul {
    font-size: 2em;
    position: sticky;
}

c-header li {
    display: inline;
    padding-right: 1em;
}

c-header a {
    color: white;
}

c-header a.active {
    background-color: green;
}